site_name: rustfuzz
site_url: https://bmsuisse.github.io/rustfuzz/
repo_url: https://github.com/bmsuisse/rustfuzz
repo_name: bmsuisse/rustfuzz

theme:
  name: material
  logo: logo.svg
  favicon: logo.svg
  palette:
    - scheme: slate
      primary: deep purple
      accent: green
  features:
    - navigation.tabs
    - navigation.indexes
    - navigation.top
    - search.suggest
    - search.highlight
    - toc.integrate
    - content.code.copy

extra_css:
  - stylesheets/extra.css

plugins:
  - search
  - mkdocs-jupyter

nav:
  - Home: index.md
  - Cookbook:
    - Introduction: cookbook/01_introduction.ipynb
    - Advanced Matching: cookbook/02_advanced_matching.ipynb
    - Benchmarks: cookbook/03_benchmarks.ipynb
